.btn-facebook{
    width: 32%;
    color:white;
    background: #3b5998	;
}
.btn-twitter{
    width: 32%;
    color:white;
    background:#1DA1F2;
}
.btn-google{
    width:32%;
    color:white;
    background:#dd4b39;
}


