flash-messages{
    position: absolute;
    bottom: 10px;
    right: 100px;    
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;

}
@keyframes example {
    from {right: 0px;}
    to {right: 100px;}
}